@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	button {
		@apply font-heading text-lg text-light-heading;
	}

	p {
		@apply font-body text-lg text-light-body;
	}
	span {
		@apply font-body text-light-body;
	}

	button {
		-webkit-tap-highlight-color: transparent;
	}

	a,
	input,
	button {
		@apply outline-secondary-darkest;
	}

	.imessage {
		border-radius: 0.25rem;
		display: flex;
		flex-direction: column;
		font-family: 'SanFrancisco';
		font-size: 1.25rem;
		max-width: 600px;
	}

	.imessage p {
		border-radius: 1.15rem;
		max-width: 85%;
		min-width: 40%;
		padding: 0.5rem 0.875rem;
		position: relative;
		word-wrap: break-word;
	}

	.imessage p::before,
	.imessage p::after {
		bottom: -0.1rem;
		content: '';
		height: 1rem;
		position: absolute;
	}

	p.from-me {
		align-self: flex-end;
	}

	p.from-me::before {
		border-bottom-left-radius: 0.8rem 0.7rem;
		border-right-width: 1rem;
		right: -0.35rem;
		transform: translate(0, -0.1rem);
	}

	p.from-me::after {
		border-bottom-left-radius: 0.5rem;
		right: -40px;
		transform: translate(-30px, -2px);
		width: 10px;
	}

	p[class^='from-'] {
		margin: 0.5rem 0 0 0;
		width: fit-content;
	}

	p.from-me ~ p.from-me {
		margin: 0.25rem 0 0;
	}

	p.from-me ~ p.from-me:not(:last-child) {
		margin: 0.25rem 0 0;
	}

	p.from-me ~ p.from-me:last-child {
		margin-bottom: 0.5rem;
	}

	p.from-them {
		align-items: flex-start;
	}

	p.from-them:before {
		border-bottom-right-radius: 0.8rem 0.7rem;
		border-left-width: 1rem;
		left: -0.35rem;
		transform: translate(0, -0.1rem);
	}

	p.from-them::after {
		border-bottom-right-radius: 0.5rem;
		left: 20px;
		transform: translate(-30px, -2px);
		width: 10px;
	}

	p[class^='from-'].emoji {
		background: none;
		font-size: 2.5rem;
	}

	p[class^='from-'].emoji::before {
		content: none;
	}

	.no-tail::before {
		display: none;
	}

	.margin-b_none {
		margin-bottom: 0 !important;
	}

	.margin-b_one {
		margin-bottom: 1rem !important;
	}

	.margin-t_one {
		margin-top: 1rem !important;
	}
}

@layer components {
	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.centered {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}
